## Python Pandas Library

In [1]:
import pandas as pd

In [4]:
d=pd.read_csv('main.csv')

In [7]:
d.COUNTRY.unique()

array(['Switzerland', 'Hong Kong', 'USA (CA)', 'Italy', 'Austria', 'UK',
       'Netherlands', 'USA (MA)', 'New Zealand', 'USA (NJ)', 'USA (NY)',
       'Australia', 'USA (RI)', 'Spain', 'USA (CT)', 'USA (TX)',
       'Germany', 'USA (OH)', 'Belgium', 'France', 'Singapore',
       'USA (FL)', 'USA (IL)', 'USA (DC)', 'USA (WA)', 'USA (IN)',
       'China', 'USA (NV)', 'USA (CO)', 'Canada', 'Portugal', 'USA (MN)',
       'Japan', 'Luxembourg', 'USA (MI)', 'USA (MO)',
       'United Arab Emirates', 'Taiwan', 'USA (VA)', 'USA (OR)',
       'USA (TN)', 'USA (PA)'], dtype=object)

In [10]:
d=d[d['COUNTRY'].str.contains('USA')]

In [14]:
d['PRICE']=d['PRICE'].str[1:]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
d.to_csv('filteredCountry.csv')

In [20]:
d.head()

      SKU  ...   COUNTRY
2   11331  ...  USA (CA)
6   11332  ...  USA (CA)
18  11333  ...  USA (CA)
22  11333  ...  USA (MA)
23  11333  ...  USA (CA)

[5 rows x 9 columns]