## Pandas Library

In [125]:
import pandas as pd

In [126]:
d=pd.read_csv('filteredCountry.csv')

In [127]:
d.head()

   Unnamed: 0    SKU  ...                         OFFER_DESCRIPTION   COUNTRY
0           2  11331  ...                1990Barbaresco,Angelo Gaja  USA (CA)
1           6  11332  ...                2010Barbaresco,Angelo Gaja  USA (CA)
2          18  11333  ...    2009Barbaresco,Costa Russi,Angelo Gaja  USA (CA)
3          22  11333  ...  Gaja Costa Russi Barbaresco20092009750ml  USA (MA)
4          23  11333  ...        Angelo Gaja Costa Russi Langhe2009  USA (CA)

[5 rows x 10 columns]

In [128]:
d['PRICE']=d['PRICE'].str.split('.').str.get(0)

In [129]:
def fun(a):
  if ',' in a:
    a=a.replace(',','')
  elif '?' in a:
    a=a.replace('?','')
  return a

In [130]:
d['PRICE']=d['PRICE'].apply(lambda x: fun(x))

In [131]:
d.head()

   Unnamed: 0    SKU  ...                         OFFER_DESCRIPTION   COUNTRY
0           2  11331  ...                1990Barbaresco,Angelo Gaja  USA (CA)
1           6  11332  ...                2010Barbaresco,Angelo Gaja  USA (CA)
2          18  11333  ...    2009Barbaresco,Costa Russi,Angelo Gaja  USA (CA)
3          22  11333  ...  Gaja Costa Russi Barbaresco20092009750ml  USA (MA)
4          23  11333  ...        Angelo Gaja Costa Russi Langhe2009  USA (CA)

[5 rows x 10 columns]

In [132]:
def Pr(x):  
    l=[]
    for i in d[d['SKU']==x]['PRICE']:
        l.append(i)
    l.sort()
    return l

In [133]:
d['Prices']=d['SKU']

In [134]:
d['Prices']=d['Prices'].apply(lambda x : Pr(x))

In [135]:
df=d[['SKU','Prices']]

In [136]:
df.head()

     SKU                           Prices
0  11331                            [329]
1  11332                            [175]
2  11333  [1849, 304, 359, 379, 379, 799]
3  11333  [1849, 304, 359, 379, 379, 799]
4  11333  [1849, 304, 359, 379, 379, 799]

In [137]:
df.drop_duplicates(subset='SKU',inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [138]:
df.head()

      SKU                                     Prices
0   11331                                      [329]
1   11332                                      [175]
2   11333            [1849, 304, 359, 379, 379, 799]
8   11334  [329, 339, 348, 348, 358, 379, 4175, 700]
16  11335                 [304, 315, 3775, 449, 459]

In [139]:
df['SECOND_MINIMUM_PRICE']=df['Prices']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [140]:
df

        SKU  ...                               SECOND_MINIMUM_PRICE
0     11331  ...                                              [329]
1     11332  ...                                              [175]
2     11333  ...                    [1849, 304, 359, 379, 379, 799]
8     11334  ...          [329, 339, 348, 348, 358, 379, 4175, 700]
16    11335  ...                         [304, 315, 3775, 449, 459]
...     ...  ...                                                ...
2997  11620  ...                                         [145, 152]
2999  11621  ...                              [215, 229, 2820, 450]
3003  11622  ...  [485, 499, 519, 519, 543, 549, 589, 617, 674, ...
3014  11624  ...  [500, 525, 539, 595, 650, 6612, 674, 699, 719,...
3024  11625  ...                  [1499, 1695, 5875, 750, 949, 980]

[278 rows x 3 columns]

In [141]:
def Minimum(x):
    return x[0]
def Second_min(x):
    if len(x)>1:
        return x[1]
    else:
        return x[0]

In [142]:
df['Prices']=df['Prices'].apply(lambda x : Minimum(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [143]:
df['SECOND_MINIMUM_PRICE']=df['SECOND_MINIMUM_PRICE'].apply(lambda x : Second_min(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [145]:
df=df.rename(columns={'Prices':'FIRST_MINIMUM_PRICE'})

In [146]:
df.to_csv('lowestprices.csv')